body{
    background-color: silver;
}

#page{
    width: 780px;
    margin: auto;
    border: 2px solid silver;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    padding: 10px;
}

h1{
    text-align: center;
}

#name{
    display: flex;
}

#Pr{
    margin-left: 30px;
}

#vr{
    display: flex;
}

#rg{
    margin-left: 30px;
}

#cpp{
    display: flex;
}

#py{
    margin-left: 30px; 
}

#dde{
    display: flex;
}

#de{
    margin-left: 30px;  
}