body{
    background-color:red;
}

#page{
    width: 780px;
    margin: auto;
    border: 2px solid silver;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px silver;
    padding: 10px;
}

#CVL{
    width: 200px;
}

h1{
    text-align: center;
    padding: 20px;
}

#name{
    display: flex;
}

#Pr{
    margin-left: 30px;
    width: 230px;
}

#VL{
    width: 300px;
}

#cpp{
    display: flex;
}

#py{
    margin-left: 30px; 
}

#dde{
    display: flex;
}

#de{
    margin-left: 30px;  
}

#NT{
    width: 300px;
}

#STT{
    width: 200px;
}

#PC{
    display: flex;
}

#P{
    width: 250px;
}

#Coef{
    margin-left: 50px;
    width: 250px;
}

.button{
    display: flex;
}

#btn-s{
    margin-left: 100px;
}

#btn-e{
    margin-left: 300px;
}